QLabel {
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding: 5px;
}

QTextEdit,
QComboBox,
QSpinBox,
QLineEdit {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    color: black;
}

QTextEdit:focus,
QComboBox:focus,
QSpinBox:focus,
QLineEdit:focus {
    border-color: #0078d4;
}

QSpinBox::up-button,
QSpinBox::down-button {
    width: 20px; /* Ajusta el ancho de los botones */
    height: 18px; /* Ajusta la altura de los botones */
    subcontrol-origin: border;
    subcontrol-position: right; /* Coloca los botones a la derecha */
}

QSpinBox::up-button {
    subcontrol-position: top right; /* Coloca el botón de arriba en la esquina superior derecha */
}

QSpinBox::down-button {
    subcontrol-position: bottom right; /* Coloca el botón de abajo en la esquina inferior derecha */
}

QSpinBox::up-arrow,
QSpinBox::down-arrow {
    width: 1px; /* Ajusta el ancho de las flechas */
    height: 1px; /* Ajusta la altura de las flechas */
}

QMainWindow {
    background-color: #f0f2f5;
}

QWidget {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
}

QPushButton {
    color: black;
    border: 1px solid black;
    padding: 10px;
    border-radius: 4px;
    font-size: 18px;
    background-color: #91969e;
    max-width: 200px;
    min-height: 40px;
}

QPushButton:hover {
    background-color: #c0c2c4;
}

QPushButton:pressed {
    background-color: #c0c2c4;
}
